<div id="group-header" class="row">
  <div class="span8">
    <div class="pull-left">
      <h1><%= group.name %></h1>
    </div>

    <div class="pull-right">
      <%= render 'groups/actions', group: group %>
    </div>
  </div>
</div>