<div id="content-section">
  <% if @selected_group %>
    <div class="pull-left">
      <h1><%= @selected_group.name %></h1>
    </div>
    <div class="pull-right">
      <%= render 'subscribe_form' %>
    </div>
  <% elsif @selected_organization %>
    <div class="pull-left">
      <h1>All</h1>
    </div>
  <% end %>
  <div style="clear:both;"></div>
</div>