<div class="accordion" id="organization-accordion">
  <%= yield :sidebar_reading_list %>
  <%= yield :sidebar_organization %>
  <%= yield :sidebar_new_organization %>
</div>

<% content_for :javascript do %>
<script>
$(function () {
  $('.manage-organization').hide();

  $('.organization-toggle').click(function() {
    $(this).parents('.accordion-inner').find('ul.nav.nav-list').toggle();
  });
});
</script>
<% end %>