<div class="accordion" id="organization-accordion">
  <%= link_to_reading_list %>
  <% current_user.organizations.each do |organization| %>
    <%= render partial: 'sidebar/organization', locals: { organization: organization } %>
  <% end %>
  <%= link_to_new_organization %>
</div>

<% content_for :javascript do %>
  $('.manage-organization').hide();

  $('.organization-toggle').click(function() {
    $navWell = $(this).parents('.nav-list-well');
    $navLists = $navWell.find('ul.nav.nav-list');
    $firstNavList = $($navLists[0]);
    $firstNavList.detach();
    $firstNavList.appendTo($navWell);
    $navLists.slideToggle(200);
    return false;
  });

  var afterSidebar = afterSidebar || [];

  $.each(afterSidebar, function(idx, el) { el(); });
<% end %>