<div class="accordion" id="organization-accordion">
  <%= yield :sidebar %>
</div>

<% content_for :javascript do %>
  $('.manage-organization').hide();

  $('.organization-toggle').click(function() {
    $(this).parents('.accordion-inner').find('ul.nav.nav-list').toggle();
    return false;
  });

  var afterSidebar = afterSidebar || [];

  $.each(afterSidebar, function(idx, el) { el(); });
<% end %>