<div class="accordion" id="organization-accordion">
  <%= yield :sidebar %>
</div>

<% content_for :javascript do %>
<script>
$(function () {
  $('.manage-organization').hide();

  $('.organization-toggle').click(function() {
    $(this).parents('.accordion-inner').find('ul.nav.nav-list').toggle();
    return false;
  });
});
</script>
<% end %>