<div class="accordion" id="organization-accordion">
  <%= sidebar_reading_list %>
  <%= sidebar_organizations %>
  <%= sidebar_new_organization %>
</div>

<% content_for :javascript do %>
  $('.manage-organization').hide();

  $('.organization-toggle').click(function() {
    $(this).parents('.accordion-inner').find('ul.nav.nav-list').toggle();
    return false;
  });

  var afterSidebar = afterSidebar || [];

  $.each(afterSidebar, function(idx, el) { el(); });
<% end %>