<%= accordion(id: "organization-accordion") do %>
  <%= yield :sidebar_reading_list %>
  <%= yield :sidebar_organization %>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" href="<%= new_organization_path %>">Create a new organization<i class="icon-pencil pull-right"></i></a>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
<script>
$(function () {
  $('.manage-organization').hide();

  $('.organization-toggle').click(function() {
    $(this).parents('.accordion-inner').find('ul.nav.nav-list').toggle();
  });
});
</script>
<% end %>